In [1]:
import pandas as pd
ht=pd.read_csv("../Datasets/heart.csv")

In [2]:
ht.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [3]:
ht.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [4]:
ht.Sex.replace({"M":0,"F":1},inplace=True)
ht.ChestPainType.replace({"ASY":0,"NAP":1,"ATA":2,"TA":3},inplace=True)
ht.ExerciseAngina.replace({"N":0,"Y":1},inplace=True)
ht.RestingECG.replace({"Normal":0,"LVH":1,"ST":2},inplace=True)
ht.ST_Slope.replace({"Flat":0,"Up":1,"Down":2},inplace=True)

In [5]:
ht.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,0,2,140,289,0,0,172,0,0.0,1,0
1,49,1,1,160,180,0,0,156,0,1.0,0,1
2,37,0,2,130,283,0,2,98,0,0.0,1,0
3,48,1,0,138,214,0,0,108,1,1.5,0,1
4,54,0,1,150,195,0,0,122,0,0.0,1,0

In [6]:
ht_x=ht.iloc[:,:-1]
ht_y=ht.iloc[:,-1]

In [8]:
from sklearn.model_selection import train_test_split
ht_x_train, ht_x_test, ht_y_train, ht_y_test=train_test_split(ht_x,ht_y,test_size=0.2,random_state=42)

In [9]:
#RANDOM FOREST
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(n_estimators=100)
rfc.fit(ht_x_train.values,ht_y_train)
pred=rfc.predict(ht_x_test.values)
from sklearn.metrics import accuracy_score
ac=accuracy_score(ht_y_test,pred)
print(ac)

0.8804347826086957

In [10]:
#DECISION TREE
from sklearn.tree import DecisionTreeClassifier
dtree=DecisionTreeClassifier()
dtree.fit(ht_x_train.values,ht_y_train)
pred=dtree.predict(ht_x_test.values)
from sklearn.metrics import accuracy_score
ac=accuracy_score(ht_y_test,pred)
print(ac)

0.7934782608695652

In [11]:
#NAIVE BAYES
from sklearn.naive_bayes import GaussianNB
gnb=GaussianNB()
gnb.fit(ht_x_train.values,ht_y_train)
pred=gnb.predict(ht_x_test.values)
from sklearn.metrics import accuracy_score
ac=accuracy_score(ht_y_test,pred)
print(ac)

0.8369565217391305

In [12]:
#K-NEAREST NEIGHBOR
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=6)
knn.fit(ht_x_train.values,ht_y_train)
pred=knn.predict(ht_x_test.values)
from sklearn.metrics import accuracy_score
ac=accuracy_score(ht_y_test,pred)
print(ac)

0.6684782608695652

In [13]:
#Logistic Regression
from sklearn.linear_model import LogisticRegression
logre=LogisticRegression(solver='lbfgs',max_iter=1000)
logre.fit(ht_x_train.values,ht_y_train)
pred=logre.predict(ht_x_test.values)
from sklearn.metrics import accuracy_score
ac=accuracy_score(ht_y_test,pred)
print(ac)

0.8532608695652174

In [14]:
#SUPPORT VECTOR MACHINE(SVM)
from sklearn.svm import SVC
svm=SVC(kernel='linear',random_state=101)
svm.fit(ht_x_train.values,ht_y_train)
pred=svm.predict(ht_x_test.values)
from sklearn.metrics import accuracy_score
ac=accuracy_score(ht_y_test,pred)
print(ac)

0.842391304347826

In [15]:
from joblib import dump
dump(rfc, './../savedModels/heartrfc.joblib')

['./../savedModels/heartrfc.joblib']

In [16]:
print(ht.ChestPainType.value_counts())
print(ht.Sex.value_counts())
print(ht.FastingBS.value_counts())
print(ht.RestingECG.value_counts())
print(ht.ExerciseAngina.value_counts())
print(ht.ST_Slope.value_counts())

ChestPainType
0    496
1    203
2    173
3     46
Name: count, dtype: int64
Sex
0    725
1    193
Name: count, dtype: int64
FastingBS
0    704
1    214
Name: count, dtype: int64
RestingECG
0    552
1    188
2    178
Name: count, dtype: int64
ExerciseAngina
0    547
1    371
Name: count, dtype: int64
ST_Slope
0    460
1    395
2     63
Name: count, dtype: int64