In [1]:
import pandas as pd
st=pd.read_csv("../Datasets/healthcare-dataset-stroke-data.csv")

In [2]:
st.drop("id",axis=1,inplace=True)

In [3]:
st.isnull().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [4]:
st["bmi"].fillna(st["bmi"].mean(),inplace=True)
st.isnull().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [5]:
st.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.893237,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1

In [6]:
st.smoking_status.value_counts()

smoking_status
never smoked       1892
Unknown            1544
formerly smoked     885
smokes              789
Name: count, dtype: int64

In [7]:
st.gender.replace({"Male":1,"Female":0,"Other":2},inplace=True)
st.ever_married.replace({"Yes":1,"No":0},inplace=True)
st.work_type.replace({"Private":2,"Self-employed":3,"Govt_job":0,"children":4,"Never_worked":1},inplace=True)
st.Residence_type.replace({"Urban":1,"Rural":0},inplace=True)
st.smoking_status.replace({"formerly smoked":1,"never smoked":2,"smokes":3,"Unknown":0},inplace=True)

In [8]:
st.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,2,1,228.69,36.600000,1,1
1,0,61.0,0,0,1,3,0,202.21,28.893237,2,1
2,1,80.0,0,1,1,2,0,105.92,32.500000,2,1
3,0,49.0,0,0,1,2,1,171.23,34.400000,3,1
4,0,79.0,1,0,1,3,0,174.12,24.000000,2,1

In [9]:
st_x=st.iloc[:,:-1]
st_y=st.iloc[:,-1]

In [10]:
from sklearn.model_selection import train_test_split
st_x_train, st_x_test, st_y_train, st_y_test=train_test_split(st_x,st_y,test_size=0.2,random_state=42)

In [11]:
#RANDOM FOREST
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(n_estimators=100)
rfc.fit(st_x_train.values,st_y_train)
pred=rfc.predict(st_x_test.values)
from sklearn.metrics import accuracy_score
ac=accuracy_score(st_y_test,pred)
print(ac)

0.9393346379647749

In [12]:
#DECISION TREE
from sklearn.tree import DecisionTreeClassifier
dtree=DecisionTreeClassifier()
dtree.fit(st_x_train.values,st_y_train)
pred=dtree.predict(st_x_test.values)
from sklearn.metrics import accuracy_score
ac=accuracy_score(st_y_test,pred)
print(ac)

0.9168297455968689

In [13]:
#NAIVE BAYES
from sklearn.naive_bayes import GaussianNB
gnb=GaussianNB()
gnb.fit(st_x_train.values,st_y_train)
pred=gnb.predict(st_x_test.values)
from sklearn.metrics import accuracy_score
ac=accuracy_score(st_y_test,pred)
print(ac)

0.8669275929549902

In [14]:
#K-NEAREST NEIGHBOR
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=6)
knn.fit(st_x_train.values,st_y_train)
pred=knn.predict(st_x_test.values)
from sklearn.metrics import accuracy_score
ac=accuracy_score(st_y_test,pred)
print(ac)

0.9383561643835616

In [15]:
#Logistic Regression
from sklearn.linear_model import LogisticRegression
logre=LogisticRegression(solver='lbfgs',max_iter=1000)
logre.fit(st_x_train.values,st_y_train)
pred=logre.predict(st_x_test.values)
from sklearn.metrics import accuracy_score
ac=accuracy_score(st_y_test,pred)
print(ac)

0.9393346379647749

In [16]:
#SUPPORT VECTOR MACHINE(SVM)
from sklearn.svm import SVC
svm=SVC(kernel='linear',random_state=101)
svm.fit(st_x_train.values,st_y_train)
pred=svm.predict(st_x_test.values)
from sklearn.metrics import accuracy_score
ac=accuracy_score(st_y_test,pred)
print(ac)

0.9393346379647749

In [17]:
from joblib import dump
dump(rfc, './../savedModels/strokerfc.joblib')

['./../savedModels/strokerfc.joblib']